# Python
*.pyc
*.pyo
__pycache__/

# Django
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.db

# Виртуальное окружение
venv/
env/
*.env/

# Папки миграций
*/migrations/

# Секретные файлы и настройки
.env

# PyCharm и другие IDE
.idea/
.vscode/

# Конфиденциальные файлы
*.env

# Прочие временные файлы
*.bak
*.swp